p { color: maroon;}
  h1
{
  
font-family: sans-serif;
color: gray;
border-bottom: 1px solid black;


}
body{
font-family: sans-serif;

}
em{ font-family: serif;}

p.greentea{
color: green; 
}
h2.greentea{
color: green; 
}
p.raspberry{
color: blue; 
}
h2.raspberry{
color: blue; 
}
p.blueberry{
color: purple;
  
}
h2.blueberry{
color: purple;
}
h2.cranberry{
color: maroon;
}